In [31]:
from __future__ import print_function
__doc__ = 'Run all Classification algorithm with parameter search'
print(__doc__)

# IMPORT UTILITY FUNCTIONS
import logging
import numpy as np
import pandas as pd
import csv
from pprint import pprint
import matplotlib.pyplot as plt
from pylab import savefig
import pickle
from  datetime import datetime
import sys
from sklearn.datasets import load_boston
# from configobj import ConfigObj
# from __future__ import print_function

# IMPORT STATISTICAL FUNCTIONS
from scipy.stats import zscore
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation import train_test_split
import sklearn.metrics as pm
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib
from sklearn.linear_model import LogisticRegressionCV
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

#import non_categorised functions
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

Run all Classification algorithm with parameter search

In [37]:
home_dir = '/home/manavee/' #user home
ws = 'dump_R1/data_master/'   #workspace
data_dir  = 'bank_marketing_campaign/bank/'  #data directory
file_list_1 = ['bank.csv', 'bank-full.csv', 'bank-names.txt']

f0 = home_dir+ws+data_dir+file_list_1[0]
f1 = home_dir+ws+data_dir+file_list_1[1]
f2 = home_dir+ws+data_dir+file_list_1[2]
df = pd.read_csv(f0,sep = ';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

# description file read
description = open(f2, 'r')
i = 1
for t1 in description:
    print(t1)
    
print(type(description))

In [48]:
def columntype(x):
    t = ''
    if is_numeric_dtype(x) == True:
        t = 'numeric'
    else:
        t = 'string'
    
    return t

def unique_value_counts(x,y):
    if y <= 10:
        return (s2[x].value_counts()).to_dict()

In [127]:
df = pd.read_csv(f0,sep = ';')
t = pd.DataFrame(df.columns,columns=['col_name'])

# def col_summary(col_name,df, p1 = ''): This is what i want to do
def col_summary(col_name): #this i am doing currently
    """summarise all cols"""
    col = df[col_name]
    TotalRows = len(df)
    TotalUniqueLevels = col.nunique()
    PercentUniqueValues = TotalUniqueLevels/TotalRows
    TotalNullValues = col.isnull().sum()
    PercentNullValues = TotalNullValues/TotalRows
    IdColFlag = TotalRows==TotalUniqueLevels
    DataType = columntype(col)
    UniqueValue = col.value_counts().to_dict() if TotalUniqueLevels <= 10 else {}
    mean = round(col.mean(),2) if DataType == 'numeric' else None
    min = round(col.min(),2) if DataType == 'numeric' else None
    q1 = round(col.quantile(q=0.25),2) if DataType == 'numeric' else None
    median = round(col.median(),2) if DataType == 'numeric' else None
    q3 = round(col.quantile(q=0.75),2) if DataType == 'numeric' else None
    max = round(col.max(),2) if DataType == 'numeric' else None
    null_flag = col.isnull().all()
    constant_flag = TotalUniqueLevels==1
    output = [TotalRows,TotalUniqueLevels,PercentUniqueValues,TotalNullValues, PercentNullValues,IdColFlag,\
              DataType,UniqueValue,min,q1,mean,median,q3,max,null_flag,constant_flag]
    return output

# defining all these cols look undity, how to improve?  to dict maybe?
t['TotalRows'],t['TotalUniqueLevels'],t['PercentUniqueValues'],t['TotalNullValues'],t['PercentNullValues']\
,t['IdColFlag'],t['DataType'],t['UniqueValue'],t['Min'],t['Q1'],t['Mean'],t['Median'],t['Q3'],t['Max']\
,t['Null_flag'],t['Constant_flag'] = zip(*t['col_name'].map(col_summary))  #pass multiple params to map
print(t)

,col_name,TotalRows,TotalUniqueLevels,PercentUniqueValues,TotalNullValues,PercentNullValues,IdColFlag,DataType,UniqueValue,Min,Q1,Mean,Median,Q3,Max,Null_flag,Constant_flag
0,age,4521,67,0.014820,0,0.0,False,numeric,{},19,33,41.17,39,49,87,False,False
1,job,4521,12,0.002654,0,0.0,False,string,{},None,None,None,None,None,None,False,False
2,marital,4521,3,0.000664,0,0.0,False,string,"{'married': 2797, 'single': 1196, 'divorced': ...",None,None,None,None,None,None,False,False
3,education,4521,4,0.000885,0,0.0,False,string,"{'secondary': 2306, 'tertiary': 1350, 'primary...",None,None,None,None,None,None,False,False
4,default,4521,2,0.000442,0,0.0,False,string,"{'no': 4445, 'yes': 76}",None,None,None,None,None,None,False,False
5,balance,4521,2353,0.520460,0,0.0,False,numeric,{},-3313,69,1422.66,444,1480,71188,False,False
6,housing,4521,2,0.000442,0,0.0,False,string,"{'yes': 2559, 'no': 1962}",None,None,None,None,None,None,False,False
7,loan,4521,2,0.000442,0,0.0,False,string,"{'no': 3830, 'yes': 691}",None,None,None,None,None,None,False,False
8,contact,4521,3,0.000664,0,0.0,False,string,"{'cellular': 2896, 'unknown': 1324, 'telephone...",None,None,None,None,None,None,False,False
9,day,4521,31,0.006857,0,0.0,False,numeric,{},1,9,15.92,16,21,31,False,False
10,month,4521,12,0.002654,0,0.0,False,string,{},None,None,None,None,None,None,False,False
11,duration,4521,875,0.193541,0,0.0,False,numeric,{},4,104,263.96,185,329,3025,False,False
12,campaign,4521,32,0.007078,0,0.0,False,numeric,{},1,1,2.79,2,3,50,False,False
13,pdays,4521,292,0.064587,0,0.0,False,numeric,{},-1,-1,39.77,-1,-1,871,False,False
14,previous,4521,24,0.005309,0,0.0,False,numeric,{},0,0,0.54,0,0,25,False,False
15,poutcome,4521,4,0.000885,0,0.0,False,string,"{'unknown': 3705, 'failure': 490, 'other': 197...",None,None,None,None,None,None,False,False
16,y,4521,2,0.000442,0,0.0,False,string,"{'no': 4000, 'yes': 521}",None,None,None,None,None,None,False,False

In [112]:
t = pd.DataFrame([[i] for i in range(10)], columns=['num'])
def powers(x):
    return [x, x**2, x**3, x**4, x**5, x**6,None,234,'jdhdfs']

t['p1'], t['p2'], t['p3'], t['p4'], t['p5'], t['p6'],t['none_col'] , t['const_int'], t['const_string']= zip(*t['num'].map(powers))

print(t)
for col in t.columns[:]:
    print(col_summary(t,col))

   num  p1  p2   p3    p4     p5      p6 none_col  const_int const_string
0    0   0   0    0     0      0       0     None        234       jdhdfs
1    1   1   1    1     1      1       1     None        234       jdhdfs
2    2   2   4    8    16     32      64     None        234       jdhdfs
3    3   3   9   27    81    243     729     None        234       jdhdfs
4    4   4  16   64   256   1024    4096     None        234       jdhdfs
5    5   5  25  125   625   3125   15625     None        234       jdhdfs
6    6   6  36  216  1296   7776   46656     None        234       jdhdfs
7    7   7  49  343  2401  16807  117649     None        234       jdhdfs
8    8   8  64  512  4096  32768  262144     None        234       jdhdfs
9    9   9  81  729  6561  59049  531441     None        234       jdhdfs
[10, 10, 1.0, 0, 0.0, True, 'numeric', {9: 1, 8: 1, 7: 1, 6: 1, 5: 1, 4: 1, 3: 1, 2: 1, 1: 1, 0: 1}, 0, 2.25, 4.5, 4.5, 6.75, 9, False, False]
[10, 10, 1.0, 0, 0.0, True, 'numeric', {9: 1, 8: 1, 7: 1, 6: 1, 5: 1, 4: 1, 3: 1, 2: 1, 1: 1, 0: 1}, 0, 2.25, 4.5, 4.5, 6.75, 9, False, False]
[10, 10, 1.0, 0, 0.0, True, 'numeric', {25: 1, 36: 1, 49: 1, 9: 1, 81: 1, 4: 1, 16: 1, 64: 1, 1: 1, 0: 1}, 0, 5.25, 28.5, 20.5, 45.75, 81, False, False]
[10, 10, 1.0, 0, 0.0, True, 'numeric', {125: 1, 729: 1, 27: 1, 64: 1, 8: 1, 343: 1, 216: 1, 512: 1, 1: 1, 0: 1}, 0, 12.75, 202.5, 94.5, 311.25, 729, False, False]
[10, 10, 1.0, 0, 0.0, True, 'numeric', {6561: 1, 2401: 1, 625: 1, 1296: 1, 4096: 1, 81: 1, 16: 1, 256: 1, 1: 1, 0: 1}, 0, 32.25, 1533.3, 440.5, 2124.75, 6561, False, False]
[10, 10, 1.0, 0, 0.0, True, 'numeric', {7776: 1, 59049: 1, 16807: 1, 32768: 1, 32: 1, 3125: 1, 243: 1, 1024: 1, 1: 1, 0: 1}, 0, 84.75, 12082.5, 2074.5, 14549.25, 59049, False, False]
[10, 10, 1.0, 0, 0.0, True, 'numeric', {729: 1, 15625: 1, 64: 1, 531441: 1, 117649: 1, 46656: 1, 262144: 1, 4096: 1, 1: 1, 0: 1}, 0, 230.25, 97840.5, 9860.5, 99900.75, 531441, False, False]
[10, 0, 0.0, 10, 1.0, False, 'string', {}, None, None, None, None, None, None, True, False]
[10, 1, 0.1, 0, 0.0, False, 'numeric', {234: 10}, 234, 234.0, 234.0, 234.0, 234.0, 234, False, True]
[10, 1, 0.1, 0, 0.0, False, 'string', {'jdhdfs': 10}, None, None, None, None, None, None, False, True]

In [ ]:
x =

In [79]:
print(type(df.describe().T))
df.describe().T

<class 'pandas.core.frame.DataFrame'>

,count,mean,std,min,25%,50%,75%,max
age,4521.0,41.170095,10.576211,19.0,33.0,39.0,49.0,87.0
balance,4521.0,1422.657819,3009.638142,-3313.0,69.0,444.0,1480.0,71188.0
day,4521.0,15.915284,8.247667,1.0,9.0,16.0,21.0,31.0
duration,4521.0,263.961292,259.856633,4.0,104.0,185.0,329.0,3025.0
campaign,4521.0,2.793630,3.109807,1.0,1.0,2.0,3.0,50.0
pdays,4521.0,39.766645,100.121124,-1.0,-1.0,-1.0,-1.0,871.0
previous,4521.0,0.542579,1.693562,0.0,0.0,0.0,0.0,25.0

pandas.core.frame.DataFrame

In [32]:

cmd = pd.DataFrame(df.columns,columns=['column_name'])

cmd['IdColFlag'] = cmd['TotalRows'] == cmd['TotalUniqueLevels']
cmd['DataType'] = cmd['column_name'].apply(lambda col:columntype(df[col]))
cmd['UniqueValue'] = cmd[cmd['TotalUniqueLevels'] < 11]['column_name'].apply(lambda col:(df[col].value_counts()).to_dict())
cmd['mean'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(df[col].mean(),2))
cmd['min'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(df[col].min(),2))
cmd['q1'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(df[col].quantile(q=0.25),2))
cmd['median'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(df[col].median(),2))
cmd['q3'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(df[col].quantile(q=0.75),2))
cmd['max'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(df[col].max(),2))


NullColumnList = list(cmd[cmd['TotalNullValues'] == cmd['TotalRows']]['column_name'])
FixedColumns = list(cmd[cmd['TotalUniqueLevels'] == 1][cmd['TotalNullValues'] == 0]['column_name'])

/home/manavee/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,column_name,TotalRows,TotalUniqueLevels,PercentUniqueValues,TotalNullValues,PercentNullValues,IdColFlag,DataType,UniqueValue,mean,min,q1,median,q3,max
0,age,4521,67,0.014820,0,0.0,False,numeric,NaN,41.17,19.0,33.0,39.0,49.0,87.0
1,job,4521,12,0.002654,0,0.0,False,string,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,marital,4521,3,0.000664,0,0.0,False,string,"{'married': 2797, 'single': 1196, 'divorced': ...",NaN,NaN,NaN,NaN,NaN,NaN
3,education,4521,4,0.000885,0,0.0,False,string,"{'secondary': 2306, 'tertiary': 1350, 'primary...",NaN,NaN,NaN,NaN,NaN,NaN
4,default,4521,2,0.000442,0,0.0,False,string,"{'no': 4445, 'yes': 76}",NaN,NaN,NaN,NaN,NaN,NaN
5,balance,4521,2353,0.520460,0,0.0,False,numeric,NaN,1422.66,-3313.0,69.0,444.0,1480.0,71188.0
6,housing,4521,2,0.000442,0,0.0,False,string,"{'yes': 2559, 'no': 1962}",NaN,NaN,NaN,NaN,NaN,NaN
7,loan,4521,2,0.000442,0,0.0,False,string,"{'no': 3830, 'yes': 691}",NaN,NaN,NaN,NaN,NaN,NaN
8,contact,4521,3,0.000664,0,0.0,False,string,"{'cellular': 2896, 'unknown': 1324, 'telephone...",NaN,NaN,NaN,NaN,NaN,NaN
9,day,4521,31,0.006857,0,0.0,False,numeric,NaN,15.92,1.0,9.0,16.0,21.0,31.0
10,month,4521,12,0.002654,0,0.0,False,string,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,duration,4521,875,0.193541,0,0.0,False,numeric,NaN,263.96,4.0,104.0,185.0,329.0,3025.0
12,campaign,4521,32,0.007078,0,0.0,False,numeric,NaN,2.79,1.0,1.0,2.0,3.0,50.0
13,pdays,4521,292,0.064587,0,0.0,False,numeric,NaN,39.77,-1.0,-1.0,-1.0,-1.0,871.0
14,previous,4521,24,0.005309,0,0.0,False,numeric,NaN,0.54,0.0,0.0,0.0,0.0,25.0
15,poutcome,4521,4,0.000885,0,0.0,False,string,"{'unknown': 3705, 'failure': 490, 'other': 197...",NaN,NaN,NaN,NaN,NaN,NaN
16,y,4521,2,0.000442,0,0.0,False,string,"{'no': 4000, 'yes': 521}",NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def overview(data,first_n_cols = None,log_file=False):
    """ save/display data summary  """

    attributes = data.columns
    if first_n_cols != None:
        data = data[attributes[:first_n_cols]]
    print('\n feature : shape '+ str(data.shape))
    print('\n feature : first_n_rows '+ str(data.head()))
    print('\n feature : attributes ' + str(attributes))
    print('\n feature : data_description ' + str())
#     print('\n feature : data_information ' ,data.info)
    print('\n feature : overview end')

,count,mean,std,min,25%,50%,75%,max
age,4521.0,41.170095,10.576211,19.0,33.0,39.0,49.0,87.0
balance,4521.0,1422.657819,3009.638142,-3313.0,69.0,444.0,1480.0,71188.0
day,4521.0,15.915284,8.247667,1.0,9.0,16.0,21.0,31.0
duration,4521.0,263.961292,259.856633,4.0,104.0,185.0,329.0,3025.0
campaign,4521.0,2.793630,3.109807,1.0,1.0,2.0,3.0,50.0
pdays,4521.0,39.766645,100.121124,-1.0,-1.0,-1.0,-1.0,871.0
previous,4521.0,0.542579,1.693562,0.0,0.0,0.0,0.0,25.0

In [22]:
overview(df)

 feature : shape (4521, 17)

 feature : first_n_rows    age          job  marital  education default  balance housing loan  \
0   30   unemployed  married    primary      no     1787      no   no
1   33     services  married  secondary      no     4789     yes  yes
2   35   management   single   tertiary      no     1350     yes   no
3   30   management  married   tertiary      no     1476     yes  yes
4   59  blue-collar  married  secondary      no        0     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
0  cellular   19   oct        79         1     -1         0  unknown  no
1  cellular   11   may       220         1    339         4  failure  no
2  cellular   16   apr       185         1    330         1  failure  no
3   unknown    3   jun       199         4     -1         0  unknown  no
4   unknown    5   may       226         1     -1         0  unknown  no

 feature : attributes Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

 feature : data_description                age       balance          day     duration     campaign  \
count  4521.000000   4521.000000  4521.000000  4521.000000  4521.000000
mean     41.170095   1422.657819    15.915284   263.961292     2.793630
std      10.576211   3009.638142     8.247667   259.856633     3.109807
min      19.000000  -3313.000000     1.000000     4.000000     1.000000
25%      33.000000     69.000000     9.000000   104.000000     1.000000
50%      39.000000    444.000000    16.000000   185.000000     2.000000
75%      49.000000   1480.000000    21.000000   329.000000     3.000000
max      87.000000  71188.000000    31.000000  3025.000000    50.000000

             pdays     previous
count  4521.000000  4521.000000
mean     39.766645     0.542579
std     100.121124     1.693562
min      -1.000000     0.000000
25%      -1.000000     0.000000
50%      -1.000000     0.000000
75%      -1.000000     0.000000
max     871.000000    25.000000

 feature : data_information  <bound method DataFrame.info of       age            job   marital  education default  balance housing loan  \
0      30     unemployed   married    primary      no     1787      no   no
1      33       services   married  secondary      no     4789     yes  yes
2      35     management    single   tertiary      no     1350     yes   no
3      30     management   married   tertiary      no     1476     yes  yes
4      59    blue-collar   married  secondary      no        0     yes   no
5      35     management    single   tertiary      no      747      no   no
6      36  self-employed   married   tertiary      no      307     yes   no
7      39     technician   married  secondary      no      147     yes   no
8      41   entrepreneur   married   tertiary      no      221     yes   no
9      43       services   married    primary      no      -88     yes  yes
10     39       services   married  secondary      no     9374     yes   no
11     43         admin.   married  secondary      no      264     yes   no
12     36     technician   married   tertiary      no     1109      no   no
13     20        student    single  secondary      no      502      no   no
14     31    blue-collar   married  secondary      no      360     yes  yes
15     40     management   married   tertiary      no      194      no  yes
16     56     technician   married  secondary      no     4073      no   no
17     37         admin.    single   tertiary      no     2317     yes   no
18     25    blue-collar    single    primary      no     -221     yes   no
19     31       services   married  secondary      no      132      no   no
20     38     management  divorced    unknown      no        0     yes   no
21     42     management  divorced   tertiary      no       16      no   no
22     44       services    single  secondary      no      106      no   no
23     44   entrepreneur   married  secondary      no       93      no   no
24     26      housemaid   married   tertiary      no      543      no   no
25     41     management   married   tertiary      no     5883      no   no
26     55    blue-collar   married    primary      no      627     yes   no
27     67        retired   married    unknown      no      696      no   no
28     56  self-employed   married  secondary      no      784      no  yes
29     53         admin.   married  secondary      no      105      no  yes
...   ...            ...       ...        ...     ...      ...     ...  ...
4491   35    blue-collar    single  secondary      no        0     yes   no
4492   32     technician    single  secondary      no      309     yes  yes
4493   28     technician    single   tertiary      no        0     yes   no
4494   26     technician    single  secondary      no      668     yes   no
4495   48     management   married   tertiary      no     1175     yes   no
4496   30    blue-collar    single  secondary      no      363      no   no
4497   31   entrepreneur    single   tertiary      no       38      no   no
4498   31     management   married   tertiary      no     1183     yes   no
4499   45    blue-collar  divorced    primary      no      942      no   no
4500   38         admin.   married  secondary      no     4196     yes   no
4501   34     management   married   tertiary      no      297     yes   no
4502   42       services   married  secondary      no      -91     yes  yes
4503   60  self-employed   married    primary      no      362      no  yes
4504   42    blue-collar    single  secondary      no     1080     yes  yes
4505   32         admin.    single  secondary      no      620     yes   no
4506   42     unemployed  divorced   tertiary      no     -166      no   no
4507   33       services   married  secondary      no      288     yes   no
4508   42         admin.   married    unknown      no      642     yes  yes
4509   51     technician   married   tertiary      no     2506      no   no
4510   36     technician  divorced  secondary      no      566     yes   no
4511   46    blue-collar   married  secondary      no      668     yes   no
4512   40    blue-collar   married  secondary      no     1100     yes   no
4513   49    blue-collar   married  secondary      no      322      no   no
4514   38    blue-collar   married  secondary      no     1205     yes   no
4515   32       services    single  secondary      no      473     yes   no
4516   33       services   married  secondary      no     -333     yes   no
4517   57  self-employed   married   tertiary     yes    -3313     yes  yes
4518   57     technician   married  secondary      no      295      no   no
4519   28    blue-collar   married  secondary      no     1137      no   no
4520   44   entrepreneur    single   tertiary      no     1136     yes  yes

        contact  day month  duration  campaign  pdays  previous poutcome    y
0      cellular   19   oct        79         1     -1         0  unknown   no
1      cellular   11   may       220         1    339         4  failure   no
2      cellular   16   apr       185         1    330         1  failure   no
3       unknown    3   jun       199         4     -1         0  unknown   no
4       unknown    5   may       226         1     -1         0  unknown   no
5      cellular   23   feb       141         2    176         3  failure   no
6      cellular   14   may       341         1    330         2    other   no
7      cellular    6   may       151         2     -1         0  unknown   no
8       unknown   14   may        57         2     -1         0  unknown   no
9      cellular   17   apr       313         1    147         2  failure   no
10      unknown   20   may       273         1     -1         0  unknown   no
11     cellular   17   apr       113         2     -1         0  unknown   no
12     cellular   13   aug       328         2     -1         0  unknown   no
13     cellular   30   apr       261         1     -1         0  unknown  yes
14     cellular   29   jan        89         1    241         1  failure   no
15     cellular   29   aug       189         2     -1         0  unknown   no
16     cellular   27   aug       239         5     -1         0  unknown   no
17     cellular   20   apr       114         1    152         2  failure   no
18      unknown   23   may       250         1     -1         0  unknown   no
19     cellular    7   jul       148         1    152         1    other   no
20     cellular   18   nov        96         2     -1         0  unknown   no
21     cellular   19   nov       140         3     -1         0  unknown   no
22      unknown   12   jun       109         2     -1         0  unknown   no
23     cellular    7   jul       125         2     -1         0  unknown   no
24     cellular   30   jan       169         3     -1         0  unknown   no
25     cellular   20   nov       182         2     -1         0  unknown   no
26      unknown    5   may       247         1     -1         0  unknown   no
27    telephone   17   aug       119         1    105         2  failure   no
28     cellular   30   jul       149         2     -1         0  unknown   no
29     cellular   21   aug        74         2     -1         0  unknown   no
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
4491   cellular   16   apr       169         1     -1         0  unknown   no
4492   cellular   16   apr       346         1    234         3  failure   no
4493    unknown    4   jun       205         6     -1         0  unknown   no
4494    unknown   28   may       576         3     -1         0  unknown  yes
4495  telephone   18   nov      1476         3     -1         0  unknown   no
4496   cellular   28   jul       171         3     -1         0  unknown   no
4497   cellular   20   nov       185         2     -1         0  unknown   no
4498    unknown   27   may       676         6     -1         0  unknown   no
4499   cellular   21   nov       362         1     -1         0  unknown   no
4500   cellular   12   may       193         2     -1         0  unknown   no
4501   cellular   26   aug        63         4     -1         0  unknown   no
4502   cellular    5   feb        43         1     -1         0  unknown   no
4503   cellular   29   jul       816         6     -1         0  unknown  yes
4504   cellular   13   may       951         3    370         4  failure  yes
4505    unknown   26   may      1234         3     -1         0  unknown  yes
4506   cellular   29   aug        85         4     -1         0  unknown   no
4507   cellular   17   apr       306         1     -1         0  unknown   no
4508    unknown   16   may       509         2     -1         0  unknown   no
4509   cellular   30   nov       210         3     -1         0  unknown   no
4510    unknown   20   may       129         2     -1         0  unknown   no
4511    unknown   15   may      1263         2     -1         0  unknown  yes
4512    unknown   29   may       660         2     -1         0  unknown   no
4513   cellular   14   aug       356         2     -1         0  unknown   no
4514   cellular   20   apr        45         4    153         1  failure   no
4515   cellular    7   jul       624         5     -1         0  unknown   no
4516   cellular   30   jul       329         5     -1         0  unknown   no
4517    unknown    9   may       153         1     -1         0  unknown   no
4518   cellular   19   aug       151        11     -1         0  unknown   no
4519   cellular    6   feb       129         4    211         3    other   no
4520   cellular    3   apr       345         2    249         7    other   no

[4521 rows x 17 columns]>

 feature : overview end